@import "tailwindcss";

:root {
  /*--background: #F5F5F5;*/
--background: white;
  --foreground: #171717;
  --deplarbg:  rgb(247 242 232);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Limelight';
  src: url('../../public/Limelight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Julius';
  src: url('../../public/JuliusSansOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jura';
  src: url('../../public/Jura-VariableFont_wght.ttf') format('truetype');
  font-weight:bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Baskerville';
  src: url('../../public/Baskervville-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond';
  src: url('../../public/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.slider-card{
  padding: 2rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding-right:0;
  display:flex;
  flex-direction: row;
  gap:2rem;
}

.slider-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.location-card{
  padding: 2rem;
  padding-right:0rem;
  padding-bottom:5rem;
  display:flex;
  flex-direction: row;
  gap:4rem;
}

.location-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.things-to-do{
  display:flex;
  flex-direction: column;

}
p{
  font-family: 'Jura';
}

h1{
font-family: 'Jura';
color:#3D3935;
font-weight:500;
letter-spacing:0.1em;
font-size: xx-large;
}

.TTD-card{
  padding-left: 2rem;
  padding-right:5rem;
  padding-bottom: 5rem;
  padding-top: 0rem;
  display:flex;
  flex-direction: row;
  gap:3rem;
  
}

.TTD-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
 flex: 1;

 padding:1rem;
}
.TTD-image{
  padding-top: 2rem;
  box-shadow: #0a0a0a;
  overflow: hidden;
  position: relative;
  height: 20rem;
}

.TTD-card > .TTD-image {
  flex: 1;
}

.TTD-button{
  color:black;
  background-color: rgb(181, 164, 164);
  font-family:'Jura';
  letter-spacing:0.1em;
  font-size: smaller;
  font-weight: bold;
  width:fit-content;
  padding:0.5em;
  justify-content: center;
  border-radius: 5%;
  transition: background-color 0.3s ease;
}

.TTD-button:hover{
  background-color: rgb(228, 217, 217);
}

.TTD-intro{
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding-inline: 15rem;
}

.TTD-introo{
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding-inline: 20rem;
  padding-bottom:2rem;
}

.TTD-prof-bg{
  background-color:#DAD9D6 ;
}

.contactus{
  background-color: #DAD9D6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:1rem;
  padding-inline: 2rem;
}

.contactusText{
  display:flex;
  flex-direction: column;
  gap: 2rem;
}

input{
  background-color: white;
  transition: background-color 0.3s ease;
  color:black;
  font-weight: 600;
}

input:hover{
  background-color: #ebe9e9;
  transition-duration: 5ms;
}

.textfield{
  padding:0.5rem;
  border:#0a0a0a solid 1px;
  height:1.5rem;
}
.messTextfield{
  padding-bottom:3rem;
  border:#0a0a0a solid 1px;
}

.contact{
  display: flex;
  flex-direction: column;
  gap:3;
  width:fit-content;
  padding: 0rem;
}

.formogbutton{
  display: flex;
  flex-direction: row;
  gap:1rem;
  align-items:end;
  padding-bottom:2rem;
  padding-top: 2rem;
}

.bordertexti{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0.5rem;
}

.accommodation-2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top:1rem;
  
}